// override BS5 variables and custom variables mixins

$fontstack: 'Mukta', sans-serif;
$white: #ffffff;
$black: black;
$grey: #606669;

// paleta de cores
$ouro: #FFD700; // gold
$azul_escuro: #002147; // Oxford Blue
$creme: #FFFDD0; // Cream
$verde_claro: #D0F0C0; //Tea green

/*
Quanto às cores do site podemos 
adotar a logo ACR (ouro) em fundo azul escuro (em cima) 
e no texto, adotar fundo creme ou verde muito claro.
O uso de letra sombreada no título não é uma exigência, mas combina. Aceito sugestões de modernização.
*/

$theme-colors: map-merge(
  $theme-colors,
  (
    'ouro': $ouro,
    'azul_escuro': $azul_escuro,
    'creme': $creme,
    'verde_claro': $verde_claro
  )
);


